# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Git_repos\Backend-Study\iknoom\자바 ORM 표준 JPA 프로그래밍 - 기본편\ex1-hello-jpa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
